<div>
    @if (Response is null)
    {
        <h2>No response</h2>
    }
    else
    {
        <div>
            @Response
        </div>
    }
</div>

@code {
    [Parameter] 
    public string? Response { get; set; }
}